/* CSS relativo alla singola "carta" */
.carta{
    width: 250px;
    height: 450px;
    background-color: #d1d1d1;
    margin-top: 100px;
    margin-left: 70px;
    float: left;
    text-align: center;
    color: black;
    position: relative;
    filter: brightness(100%);
    box-shadow: none;
    margin-bottom: 50px;
}

.carta .nome{
    margin-top: 15px;
}

#catFilm, #catSerieTv, #catVideogiochi{
    padding: 15px;
}

#catFilm .imgCat{
    background-image: url("../img/categorie/film/icona_film.png");
    background-size: 175px 175px;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#catSerieTv .imgCat{
    background-image: url("../img/categorie/serietv/icona_serie_tv.png");
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#catVideogiochi .imgCat{
    background-image: url("../img/categorie/videogiochi/icona_videogiochi.png");
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.carta:hover{
    filter: brightness(125%);
    box-shadow: 0 0 30px #515151;
}

.cartaOverCarrello{
    
    filter: brightness(0%);
}

.coverCarta{
    width: 250px;
    height: 350px;
}

.prezzo{
    position: absolute;
    bottom: 0;
    left: 20px;
}

.iconaRightBottom{
    position: absolute;
    margin-bottom: 0rem;
    right: 5px;
}

.iconaRightBottom2{
    position: absolute;
    margin-bottom: 1rem;
    right: 40px;
}

.iconaRightBottom i{
    color: black;
}

.iconaRightBottom2 i{
    color: black;
}