/* CSS relativo al singolo prodotto */
.prodottoImgCover{
    float: left;
    margin-right: 50px;
}

.prodottoPrezzo{
    margin-top: 100px;
    float: right;
}

#btnAggiungiWishList{
    margin-left: 20px;
}

.prodottoHr{
    margin-top: 100px;
    margin-bottom: 75px;
    clear: both;
}

.textarea {
    margin-top: 25px;
    resize: none;
}

.btnAggRecensione{
    margin-top: 10px;
    float: right;
}

#recensioni{
    padding-top: 100px;
}

.recensione{
    margin-top: 40px;
}