/* CSS relativo alla presentazione della pagina in generale */

html{
    height: 100%;
}

.body{
    background-color: #efefef;
    height: 100%;
}

p a{
    color: black;
    text-decoration: none;
}

p a:link{
    color: black;
    text-decoration: none;
}

p a:hover{
    color: black;
    text-decoration: none;
}

#navbar{
    background-color: #040644;
}

#footer{
    clear: both;
    width: 100%;
    background-color: #040644;
    color: whitesmoke;
    vertical-align: middle;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-top: 50px;
}

#footer p{
    color: white;
}

#jumbotron{
    margin-top: 20px;
}

.home_logo_img{
    border-radius: 50%;
}

.index_form_buttons{
    float: right;
    bottom: 0px;
}

#homeContainer{
    margin-top: 50px;
    background-color: #efefef;
    padding-top: 1px;
    padding-bottom: 20px;
    margin-bottom: 70px;
    min-height: 100%;
}

.snackBar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #2a2a2a;
    text-align: center;
    z-index: 1;
    padding: 10px;
    color: aliceblue;
}

@media(orientation: landscape){
    #aggiungiAlCarrello{
        position: fixed;
        right: 25px;
        top: 100px;
    }

    #aggiungiAlCarrello img{

        width: 100px;
        height: 100px;
    }
}

@media(orientation: portrait){
    #aggiungiAlCarrello{
        position: fixed;
        right: 25px;
        top: 100px;
        visibility: collapse;
    }

    #aggiungiAlCarrello img{

        width: 100px;
        height: 100px;
    }
}

/*.titolo{
    color: white;
    margin-top: 50px;
}*/

.carrelloCheckOut{
    clear: both;
    float: right;
}